* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #343a40;
}

/* Header y nav*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}

nav button {
    display: none;
    border: none;
    color: green;
}

nav .logo{
    font: 1.6em;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a{
    font-size: 1.2em;
    padding: 25px 10px;
    display: flex;
    text-decoration: none;
}

.nav-Home {
    border-bottom: 3px solid #007bff;
}

.nav-About {
    border-bottom: 3px solid #32cd32;
}

.nav-Services {
    border-bottom: 3px solid #8a2be2;
}

.nav-Contact {
    border-bottom: 3px solid #ffd747;
}

.nav ul li a:hover {
    border-bottom: 3px solid #007bff;
    font-weight: bold;
}

/* Cta container */

.cta-container {
    background-color: #e9ecef;
    padding: 110px 0;
    text-align: center;
}

.cta-container h1 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

.cta-container p {
    font-size: 1.2em;
    max-width: 550px;
    font-weight: bold;
    margin: auto;
}

/* Sección services-container */

.services-container {
    display: flex;
    justify-content: space-between;
    background-color: #f1f3f5;
    padding: 34px 0;
    text-align: center;
    gap: 20px;
}

.services-container div {
    width: 30%;
    margin: auto;
}

.services-container div div {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Sección contact-container */

.contact-container {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.contact-form {
    width: 500px;
    padding: 20px;
    align-items: left;
    display: flex;
    flex-direction: column;
    background-color: #f1f3f5;
    margin: auto;
    justify-content: center;
}

.contact-form input,
.contact-form textarea {
    background-color: #f1f3f5;
    border: none;
    padding: 10px;
}

.contact-form input:hover,
.contact-form textarea:hover {
    background-color: #e9ecef;
}
.contact-form button:hover {
    background-color: #007bff;
}

.contact-form label {
    font-weight: bold;
    
}

.contact-form input[name="name"] {
    border-bottom: 3px solid #32cd32;
}

.contact-form input[name="email"] {
    border-bottom: 3px solid #8a2be2;
}

.contact-form textarea {
    border-bottom: 3px solid #ffd747;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
}

/* footer */

footer {
    background-color: #f1f3f5;
    padding: 20px;
    text-align: center;
}

footer h3, footer small {
    font-weight: bold;
}

footer a {
    font-size: 2em;
    text-decoration: none;
    margin-bottom: 10px;
}

@media (max-width: 800px) {

    nav button{
        display: block;
    }

    nav ul li a{
        display: none;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-container div {
        width: 100%;
    }
}