body {
    background-color: red;
    color: white;
}

@media (min-width: 600px) {
    body {
        background-color: green;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: blue;
    }
}