* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

nav h1 {
    color: rgb(255, 255, 255);
    padding-left: 150px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    padding-right: 150px;

}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;

}

#gallery-section .gallery-title {
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 30px;
}

#gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 110px;
    background-color: rgb(0, 0, 0);
    padding-bottom: 100px;
    padding: 80px;
}

#gallery-section .gallery-list .gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100%/3 - 110px);
    color: rgb(255, 255, 255);
    gap: 10px;
}

#gallery-section .gallery-list .gallery-item p {
    text-align: center;
}

#gallery-section .gallery-list .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

.footer-pie1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.footer-pie1 .pie1 {
    display: flex;
    color: rgb(255, 255, 255);
}

.footer-pie1 .pie1 .pie-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px;
}

.footer-pie1 .pie2 .pie-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
}


