*{
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 300px 300px;
    gap: 10px;
    margin-top: 10px;

}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(124, 240, 240);
    border-radius: 10px;
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.03);
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}